In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
#import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
engine = create_engine("sqlite:///database.sqlite")
%matplotlib inline

C:\Users\sadeus\Anaconda3\lib\site-packages\matplotlib\__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [ ]:
#Get the tables in the database with the columns

#conn = sqlite3.connect('database.sqlite')
#c = conn.execute("SELECT name from sqlite_master where type='table'")
#print(c.fetchone())
#conn.close()
inspector = inspect(engine)
for table_name in inspector.get_table_names():
    print("Table: {}".format(table_name))
    columns = "Columns: "
    for x in inspector.get_columns(table_name):
        columns += x["name"] + ","
    print(columns)
pd.read_sql_query("SELECT DISTINCT count(INSTNM) FROM Scorecard", engine)

In [4]:

#pd.read_sql_query("SELECT * FROM Scorecard", engine)
pd.read_sql_query("SELECT AVG(COSTT4_A), MIN(COSTT4_A), MAX(COSTT4_A) FROM Scorecard", engine)
df = pd.read_sql_query("SELECT INSTNM, COSTT4_P, COSTT4_A, ADM_RATE, PCTFLOAN, PCTPELL FROM Scorecard", engine)

#COSTT4_A ^ COSTT4_P == True?
#df.COSTT4_A[df.COSTT4_P.notnull()].notnull().any()
df[["INSTNM", "COSTT4_A"]].max()

INSTNM      niversity of Puerto Rico-Medical Sciences
COSTT4_A                                        74473
dtype: object