In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, inspect
#import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
engine = create_engine("sqlite:///database.sqlite")
%matplotlib inline

C:\Users\sadeus\Anaconda3\lib\site-packages\matplotlib\__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [ ]:
#Get the tables in the database with the columns

#conn = sqlite3.connect('database.sqlite')
#c = conn.execute("SELECT name from sqlite_master where type='table'")
#print(c.fetchone())
#conn.close()
inspector = inspect(engine)
for table_name in inspector.get_table_names():
    print("Table: {}".format(table_name))
    columns = "Columns: "
    for x in inspector.get_columns(table_name):
        columns += x["name"] + ","
    print(columns)
pd.read_sql_query("SELECT DISTINCT count(INSTNM) FROM Scorecard", engine)

In [9]:

#pd.read_sql_query("SELECT * FROM Scorecard", engine)
pd.read_sql_query("SELECT AVG(COSTT4_A), MIN(COSTT4_A), MAX(COSTT4_A) FROM Scorecard", engine)
df = pd.read_sql_query("SELECT INSTNM, COSTT4_P, COSTT4_A, ADM_RATE, PCTFLOAN, PCTPELL FROM Scorecard", engine)

#COSTT4_A ^ COSTT4_P == True?
#df.COSTT4_A[df.COSTT4_P.notnull()].notnull().any()
df[["INSTNM", "COSTT4_A","COSTT4_P"]][df.INSTNM.str.contains("Massa")]

                                                   INSTNM  COSTT4_A  COSTT4_P
61213                                  Harvard University       NaN       NaN
64811   Harvard H Ellis Regional Vocational Technical Sch       NaN       NaN
68014                                  Harvard University       NaN       NaN
71571   Harvard H Ellis Regional Vocational Technical Sch       NaN       NaN
74847                                  Harvard University       NaN       NaN
78359   Harvard H Ellis Regional Vocational Technical Sch       NaN       NaN
81723                                  Harvard University       NaN       NaN
85201   Harvard H Ellis Regional Vocational Technical Sch       NaN       NaN
88678                                  Harvard University     50250       NaN
92123   Harvard H Ellis Regional Vocational Technical Sch       NaN       NaN
95793                                  Harvard University     52000       NaN
103191                                 Harvard University     53950       NaN
110833                                 Harvard University     56000       NaN
118593                                 Harvard University     57950       NaN